---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg+xml" href="/Logo.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>Contactanos</title>
		<Header></Header>
</head>
<body class="bg-[#EFE8C1]">
    
		
	<div class="bg-[#4F774D] text-white p-8">
		<h2 class="text-3xl font-bold text-beige">Una plataforma global basada en la red de movilidad más grande del mundo</h2>
		
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
			<div class="flex items-start space-x-4">
				<span class="text-4xl">🎁</span>
				<div>
					<h3 class="text-xl font-semibold text-forest-green">Reduce el costo hasta un 10% al mejorar el cumplimiento</h3>
					<p class="text-gray-light">Los usuarios confirmaron que redujeron el costo de traslados y comidas. Monitorea el gasto, supervisa el uso y obtén controles para hacer cumplir los reglamentos.</p>
				</div>
			</div>
			
			<div class="flex items-start space-x-4">
				<span class="text-4xl">🌱</span>
				<div>
					<h3 class="text-xl font-semibold text-light-green">Cumple tus objetivos de sostenibilidad con información procesable</h3>
					<p class="text-gray-light">Haz un seguimiento de las emisiones de CO₂ de cada viaje en un panel exclusivo de Uber para Empresas. Esta información te ayudará a tomar medidas y aprovechar las opciones de viaje sostenibles, como Uber Planet.</p>
				</div>
			</div>
	
			<div class="flex items-start space-x-4">
				<span class="text-4xl">⭐</span>
				<div>
					<h3 class="text-xl font-semibold text-earth-brown">Ofrece una experiencia exclusiva a tus equipos</h3>
					<p class="text-gray-light">Además de facilitar los gastos y brindar soporte prioritario, el personal de ciertas ciudades tiene acceso a opciones de viaje como Uber Business Comfort, que permite a tu equipo disfrutar de viajes premium.</p>
				</div>
			</div>
	
			<div class="flex items-start space-x-4">
				<span class="text-4xl">📝</span>
				<div>
					<h3 class="text-xl font-semibold text-light-blue">Prioriza la protección de tu negocio</h3>
					<p class="text-gray-light">Ofrecemos notificaciones de alerta por accidente adicionales para usuarios empresariales. Nuestro último informe de seguridad muestra que el 99.9% de los viajes con la app de Uber son completados sin ningún incidente de seguridad reportado.</p>
				</div>
			</div>
		</div>
	</div>
	

	
	
	
	<Footer></Footer>
</body>
</html>