---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg+xml" href="/Logo.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>Sobre Nosotros</title>
		<Header></Header>

</head>
<body class="bg-[#EFE8C1]">
    <div class="bg-[#4F774D] rounded-xl p-10 flex flex-col md:flex-row items-center mx-10 my-16 shadow-lg">
		<!-- Sección de texto -->
		<div class="md:w-1/2 p-10 md:pr-16">
		  <h2 class="text-3xl font-bold text-[#EFE8C1] mb-4">Transforma tu Campus</h2>
		  <p class="text-[#D9D9D9] text-lg mb-8 leading-relaxed">
			Todos en el campus pueden crear y comunicarse en cualquier formato, desde documentos, presentaciones, video, hasta sitios web y pizarras. Mantén la identidad visual en todos los departamentos con controles de marca. Transforma informes, presentaciones y documentos con plantillas personalizadas.
		  </p>
		  <a href="#" class="bg-[#F4A261] text-white px-6 py-3 rounded-full font-semibold hover:bg-[#A16436] transition-colors">Descubre más</a>
		</div>
	  
		<!-- Sección de imagen -->
		<div class="md:w-1/2 mt-10 md:mt-0 flex justify-center">
		  <img src="https://www.areacucuta.com/wp-content/uploads/2014/02/Bari.jpg" alt="Laptop con presentación" class="rounded-lg shadow-lg w-full max-w-md h-auto md:h-64 object-cover">
		</div>
	  </div>

	<Footer></Footer>
</body>
</html>