---
import Aside from "../components/Aside.astro"
import Barra from "../components/Barra.astro"
---
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			href="/logo2.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Aula Global</title>
        

           
	</head>
    <body class="bg-gray-100 text-gray-900 font-sans">

        
        <Aside></Aside>
    
       
         
        <main class="ml-64 p-8">
            <Barra></Barra>
            <div class="bg-red-200 p-3 rounded-[40px] text-center text-[15px] font-semibold mt-4"></div>

            <div class="bg-green-200 mt-4 p-3 rounded-[40px] text-center text-[15px] font-semibold"></div>

            <div class="bg-gray-200 mt-4 p-3 rounded-[40px] text-center text-[15px] font-semibold"></div>

            
        </main>

        
    

    </body>
   
</html>