---
import Aside from "../components/Aside.astro"
import Barra from "../components/Barra.astro"
---
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			href="/logo2.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Aula Global</title>
        

           
	</head>
    <body class="bg-gray-100 text-gray-900 font-sans">

        
        <Aside></Aside>
    
       
         
        <main class="ml-64 p-8">
            <Barra></Barra>

            <div class="bg-red-200 p-3 rounded-[40px] text-center text-[15px] font-semibold mt-4"></div>

            <div class="bg-green-200 p-3 mt-4 rounded-[40px] text-center text-[15px] font-semibold"></div>

            <div class="bg-gray-200 mt-4 p-3 rounded-[40px] text-center text-[15px] font-semibold"></div>

            <div class="mt-1 justify-between rounded-[20px]  p-5 ">
             
                <div class="border shadow  p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg"class="w-6 h-6 mx-2" viewBox="0 0 32 32"><g fill="none"><path fill="#fbb8ab" d="M21.993 5.854c-6.707-3.42-14.656-2.1-18.279 3.883S2.398 23.68 8.87 27.517c3.18 1.886 8.312 3.811 10.398 1.244c2.044-2.516-.972-4.11-.268-5.502c1.133-2.24 6.2.699 9.515-2.922c3.734-4.082.009-11.151-6.522-14.483M24 19c-1.745 0-3-1.273-3-3s1.255-3 3-3s3 1.273 3 3s-1.255 3-3 3"/><path fill="#8d65c5" d="M14.25 11a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/><path fill="#f70a8d" d="M8.25 15a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/><path fill="#00d26a" d="M8.25 22a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/><path fill="#3f5fff" d="M13.75 26.5a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/></g></svg>
                        Puntillismo
                    </div>
                    <p class=" opacity-15">Investigación y actividad</p>
                    <p class="text-[10px] items-center text-gray-400">Viernes</p>
                </div>
                
                

            </div>
        
        </main>

        
    

    </body>
   
</html>