---
import Aside from "../components/Aside.astro"
import Barra from "../components/Barra.astro"
---
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			href="/logo2.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Aula Global</title>
        

           
	</head>
    <body class="bg-gray-100 text-gray-900 font-sans">

        
        <Aside></Aside>
    
       
         
        <main class="ml-64 p-8">
            <Barra></Barra>

            <div class="bg-red-200 p-3 rounded-[40px] text-center text-[15px] font-semibold mt-4"></div>

            <div class="mt-4 justify-between rounded-[20px]  p-5 ">
                
                <div class="border cursor-pointer shadow p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2" viewBox="0 0 32 32"><g fill="none"><path fill="#b4acbc" fill-rule="evenodd" d="M16 8.05A3.5 3.5 0 0 1 18.5 7h8c.743 0 1.39.404 1.734 1.003c.07.121.096.26.096.4v2.294L29 25.5a2.5 2.5 0 0 1-2.5 2.5h-21A2.5 2.5 0 0 1 3 25.5l.67-14.803V8.403c0-.14.026-.279.096-.4A2 2 0 0 1 5.5 7h8c.98 0 1.865.402 2.5 1.05" clip-rule="evenodd"/><path fill="#0074ba" d="M17.732 30H28.5c.83 0 1.501-.678 1.501-1.505V27.44c0-.827-.67-2.441-1.501-2.441h-25C2.671 25 2 26.614 2 27.441v1.064C2 29.332 2.67 30 3.501 30h10.767a2 2 0 0 0 3.464 0"/><path fill="#00a6ed" fill-rule="evenodd" d="M3.501 10H14v1h4v-1h10.499c.83 0 1.501.668 1.501 1.495v16c0 .827-.67 1.505-1.501 1.505H17.732a2 2 0 0 1-3.464 0H3.5c-.829 0-1.5-.668-1.5-1.495v-16.01C2 10.668 2.67 10 3.501 10M17.5 27.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0" clip-rule="evenodd"/><path fill="#b4acbc" d="M13 8H5.803a1.5 1.5 0 0 0-1.248.668L3 11v14.5A1.5 1.5 0 0 0 4.5 27h23a1.5 1.5 0 0 0 1.5-1.5V11l-1.555-2.332A1.5 1.5 0 0 0 26.197 8H19v3h-6z"/><path fill="#f3eef8" d="M5.5 8h8a2.5 2.5 0 0 1 2.5 2.5V27l-.447-.894A2 2 0 0 0 13.763 25H5.5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1m13 0h8a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1h-8.264a2 2 0 0 0-1.736 1.007V9c.456-.607 1.182-1 2-1"/></g></svg>
                        Literatura griega
                    </div>
                    <p class=" opacity-15">Taller de literautura griga en el siglo x...</p>
                    <p class="text-[10px] items-center text-red-500">Retrasada por 2 dias</p>
                </div>

               
                
                

            </div>


            <div class="bg-green-200 p-3 rounded-[40px] text-center text-[15px] font-semibold"></div>

            <div class="mt-4 justify-between rounded-[20px]  p-5 ">
                
                <div class="border cursor-pointer shadow p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2" viewBox="0 0 32 24"><g fill="none"><path fill="#f7fcff" fill-rule="evenodd" d="M0 0h32v24H0z" clip-rule="evenodd"/><path fill="#e31d1c" fill-rule="evenodd" d="M0 14.667v2h32v-2zm0 3.666v2h32v-2zm0-11v2h32v-2zM0 22v2h32v-2zm0-11v2h32v-2zM0 0v2h32V0zm0 3.667v2h32v-2z" clip-rule="evenodd"/><path fill="#2e42a5" d="M0 0h20v13H0z"/><path fill="#f7fcff" fill-rule="evenodd" d="m1.722 2.939l-.726.509l.245-.906l-.645-.574h.843l.282-.74l.331.74h.718l-.564.574l.218.906zm4 0l-.726.509l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm3.274.509l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.842l.644.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zM.996 7.449l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74H.596l.645.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm3.274.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.842l.644.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zM.996 11.449l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74H.596l.645.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm3.274.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.842l.644.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm3.274-7.49l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.843l.645.574zm.726 3.49l-.726.51l.245-.906l-.645-.574h.843l.282-.74l.331.74h.718l-.564.574l.218.906zm-.726 4.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.843l.645.574zM3.722 4.938l-.726.51l.245-.906l-.645-.574h.843l.282-.74l.331.74h.718l-.564.574l.218.906zm3.274.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.843l.645.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm-8.726 4.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.843l.645.574zm4.726-.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm3.274.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.842l.644.574zm4.726-4.51l-.726.51l.245-.906l-.644-.574h.842l.282-.74l.331.74h.718l-.564.574l.218.906zm-.726 4.51l.726-.51l.702.51l-.218-.906l.564-.574h-.718l-.331-.74l-.282.74h-.842l.644.574z" clip-rule="evenodd"/></g></svg>
                        Verbos modales
                    </div>
                    <p class=" opacity-15">Presente simple, Presente perfecto</p>
                    <p class="text-[10px] items-center text-green-400">Jueves 23:50</p>
                </div>

                <div class="border shadow mt-5 p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2" viewBox="0 0 32 32"><g fill="none"><path fill="#0074ba" d="M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2S2 8.268 2 16s6.268 14 14 14"/><path fill="#00d26a" d="M4.51 8h2.61C8.16 8 9 8.84 9 9.88v.97c0 .74.29 1.46.8 2l.94.99c.22.23.34.54.34.86v.47c0 .51.32.96.8 1.12l1.87.64c.108.04.225.067.341.08l2.79.93c.08.04.17.06.26.06h1.36c.28 0 .5.22.5.5v.12c0 .22-.18.39-.39.39c-.34 0-.61.27-.61.61v2.05c0 .73.6 1.33 1.33 1.33c.37 0 .67.3.67.67v3.65c0 .38.3.68.68.68c.2 0 .39-.09.52-.24l4.52-5.43c.17-.21.27-.48.27-.76v-.39c0-.66-.53-1.19-1.18-1.19h-.24a.58.58 0 0 1-.58-.58v-.52c0-.55-.31-1.05-.8-1.3l-.49-.24c-.47-.23-.98-.35-1.5-.35h-2.62c-.33 0-.59-.27-.59-.59c0-.22-.18-.41-.41-.41h-.17c-.22 0-.41-.18-.41-.41v-.09c0-.28-.22-.5-.5-.5s-.5.22-.5.5v.09c0 .28-.24.41-.52.41H15l-.021.02h-.11a.9.9 0 0 1-.87-.89v-.87c0-.7.56-1.26 1.26-1.26h.93c.45 0 .81.36.81.81c0 .1.08.19.19.19h.23c.32 0 .58-.25.58-.57c0-.28.07-.55.22-.79l2.64-4.4c.08-.15.25-.24.42-.24h1.22c.28 0 .5-.22.5-.5s-.22-.5-.5-.5h-1.29a.47.47 0 0 1-.35-.15l-.59-.59a.93.93 0 0 1-.27-.65a.63.63 0 0 0-.63-.61h-.18c-.12 0-.23-.05-.31-.13l-.11-.11c-.29-.28-.1-.76.3-.76h1.44c.37 0 .74.13 1.03.36l3.83 3.06c.46.37 1.03.58 1.63.58l.492.002A14.05 14.05 0 0 0 21.206 3H15.91c-.56 0-1.07.31-1.32.81l-.46.91c-.08.17-.25.28-.44.28h-.17c-.27 0-.53-.21-.52-.49a.497.497 0 0 0-.5-.51h-1.75c-.411 0-.813-.172-1.101-.48A14.06 14.06 0 0 0 4.509 8M19 7.5c0 .28-.22.5-.5.5s-.5.22-.5.5s-.22.5-.5.5s-.5-.22-.5-.5s-.22-.5-.5-.5h-1c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h1c.28 0 .5-.22.5-.5s.22-.5.5-.5s.5.22.5.5s.22.5.5.5s.5.22.5.5"/></g></svg>
                        Imperio Romano
                    </div>
                    <p class=" opacity-15">Taller evaluativo</p>
                    <p class="text-[10px] items-center text-green-400">Viernes 12:30</p>
                </div>

                <div class="border shadow mt-5 p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg"class="w-6 h-6 mx-2" viewBox="0 0 32 32"><g fill="none"><path fill="#d3d3d3" d="M29 8H3v1h26zm0 5H3v1h26zM3 18h26v1H3zm26 5H3v1h26z"/><path fill="#ff6723" d="M8 2a6 6 0 0 0-6 6v16a6 6 0 0 0 6 6h16a6 6 0 0 0 6-6V8a6 6 0 0 0-6-6zm0 2h16a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4V8a4 4 0 0 1 4-4"/><path fill="#f70a8d" d="M6 8a1.5 1.5 0 1 1 3 0a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0v1a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 1 1-3 0zm18.5-1.5A1.5 1.5 0 0 0 23 8v1a1.5 1.5 0 0 0 3 0V8a1.5 1.5 0 0 0-1.5-1.5"/><path fill="#00a6ed" d="M6 13a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0v1a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0zm18.5-1.5A1.5 1.5 0 0 0 23 13v1a1.5 1.5 0 0 0 3 0v-1a1.5 1.5 0 0 0-1.5-1.5"/><path fill="#fcd53f" d="M6 18a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0v1a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0zm18.5-1.5A1.5 1.5 0 0 0 23 18v1a1.5 1.5 0 0 0 3 0v-1a1.5 1.5 0 0 0-1.5-1.5"/><path fill="#00d26a" d="M6 23a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0a1.5 1.5 0 0 1 3 0v1a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0a1.5 1.5 0 0 1-3 0zm18.5-1.5A1.5 1.5 0 0 0 23 23v1a1.5 1.5 0 0 0 3 0v-1a1.5 1.5 0 0 0-1.5-1.5"/></g></svg>
                        Identidades 
                    </div>
                    <p class=" opacity-15">Ejercicios analiticos de identidades...</p>
                    <p class="text-[10px] items-center text-green-500">Lunes 15:40</p>
                </div>
                
                

            </div>

            <div class="bg-gray-200 p-3 rounded-[40px] text-center text-[15px] font-semibold"></div>

            <div class="mt-4 justify-between rounded-[20px]  p-5 ">
                
              
                    
                </a><div class="border cursor-pointer shadow p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2" viewBox="0 0 32 32"><g fill="none"><path fill="#5092ff" d="M4.718 18.023a1.25 1.25 0 0 1 1.742-.305l12.072 8.476l-1.437 2.047l-12.072-8.476a1.25 1.25 0 0 1-.305-1.742"/><path fill="#636363" d="M18.501 2.803c.33-.443.96-.543 1.41-.223l1.673 1.191c.45.32.548.94.22 1.384L13.11 16.88a2.074 2.074 0 0 1-2.858.453a1.98 1.98 0 0 1-.444-2.804z"/><path fill="#bebebe" d="M18.047 3.666c-1.209-.352-2.667.195-3.45 1.251l-2.822 3.807L12 10l-1.398.306l-.203.275a3.95 3.95 0 0 0 .903 5.587c1.823 1.298 4.376.902 5.7-.885l.16-.215L17 13.5h1.324l.164-.221c3.504.651 5.38 3.572 5.475 6.576c.052 1.65-.442 3.276-1.482 4.535c-1.027 1.243-2.67 2.229-5.102 2.459c-.834.079-1.449.847-1.373 1.715s.814 1.509 1.648 1.43c3.129-.297 5.53-1.614 7.126-3.545c1.582-1.915 2.289-4.335 2.215-6.698c-.123-3.895-2.39-7.767-6.49-9.192l.696-.94c.783-1.056.863-2.584.148-3.602z"/><path fill="#9b9b9b" d="M2 29.2A3.2 3.2 0 0 1 5.2 26h21.6a3.2 3.2 0 0 1 3.2 3.2a.8.8 0 0 1-.8.8H2.8a.8.8 0 0 1-.8-.8"/><path fill="#d3d3d3" d="m11.776 8.71l6.558 4.765l-1.175 1.618l-6.559-4.765z"/></g></svg>
                        Celúla Eucaritota
                    </div>
                    <p class=" opacity-15">Metabolismos de la celúla</p>
                    <p class="text-[10px] items-center text-gray-400">Jueves</p>
                </div>

                <div class="border shadow mt-5 p-2 flex italic justify-between rounded-[20px] items-center transition-all duration-300 hover:scale-105    ">
                    <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg"class="w-6 h-6 mx-2" viewBox="0 0 32 32"><g fill="none"><path fill="#fbb8ab" d="M21.993 5.854c-6.707-3.42-14.656-2.1-18.279 3.883S2.398 23.68 8.87 27.517c3.18 1.886 8.312 3.811 10.398 1.244c2.044-2.516-.972-4.11-.268-5.502c1.133-2.24 6.2.699 9.515-2.922c3.734-4.082.009-11.151-6.522-14.483M24 19c-1.745 0-3-1.273-3-3s1.255-3 3-3s3 1.273 3 3s-1.255 3-3 3"/><path fill="#8d65c5" d="M14.25 11a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/><path fill="#f70a8d" d="M8.25 15a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/><path fill="#00d26a" d="M8.25 22a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/><path fill="#3f5fff" d="M13.75 26.5a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"/></g></svg>
                        Puntillismo
                    </div>
                    <p class=" opacity-15">Investigación y actividad</p>
                    <p class="text-[10px] items-center text-gray-400">Viernes</p>
                </div>
                
                

            </div>
        
        </main>

        
    

    </body>
   
</html>