---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/jpeg+xml"
			href="/Logo.jpeg"
			class="rounded-full"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Aula Global</title>
		<Header />
	</head><body class="bg-[#EFE8C1]">
		<div
			class="bg-slate-500 p-10 justify-center flex bg-no-repeat bg-cover h-[700px] rounded-b-[300px]"
			style="background-image: url(https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Libraries/Production+Library/03-08-2020-UNICEF-Guatemala.jpg/image1170x530cropped.jpg);"
		>
			<div class="p-2 justify-center mx-[100px] mt-20">
				<h1
					class="text-[38px] text-white font-sans font-bold text-center"
				>
					Lorem ipsum dolor sit amet consectetur <br /> adipisicing elit
					Lorem ipsum dolor
				</h1>
				<p class="text-white font-sans font-medium text-center mt-8">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br
					/> Sint ex reprehenderit soluta quisquam nostrum earum, laboriosam
					c Lorem ipsum dolor <br /> sit amet consectetur adipisicing elit.
				</p>
				<button
					class="rounded-full py-1 px-5 mt-8 ml-[270px] bg-[#94C77E]"
					>Mas información</button
				>
			</div>
		</div>

		


		<div class="bg-[#EFE8C1] p-7 justify-center">
			<h1
				class="text-center text-[50px] font-sans font-semibold text-[#4F774D]"
			>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /> Id
				iure eum laudantium? Magnam
			</h1>
			
		</div>
		<div class="ml-[100px] flex justify-center items-center">
			<img src="https://media.istockphoto.com/id/1396113348/es/vector/ilustraciones-vectoriales-web-en-3d-concepto-online-ordenador-con-p%C3%A1ginas-abiertas-dise%C3%B1o-de.jpg?s=612x612&w=0&k=20&c=WSjrt-yJVqQAsqCPMIPIcBDyg2zqxCgs3B-td2vfiy8=" alt=""  class="w-[300px] h-[300px] rounded-[900px] mr-48 clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); ">
		    <div>
				<h1 class="text-center text-[#]">Lorem ipsum dolor sit amet consectetur</h1>
				<p>Lorem ipsum dolor sit, amet consectetur <br> adipisicing elit. Sed officia d</p>
			</div>
		</div>

		<footer class="bg-slate-900 p-8">Hola</footer>

		<slot />
	</body>
</html>
