---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/jpeg+xml"
			href="/Logo.jpeg"
			class="rounded-full"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Aula Global</title>
		<Header />
	</head><body class="bg-[#EFE8C1]">
		<div
			class="bg-slate-500 p-10 justify-center flex bg-no-repeat bg-cover h-[700px] rounded-b-[300px]"
			style="background-image: url(https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Libraries/Production+Library/03-08-2020-UNICEF-Guatemala.jpg/image1170x530cropped.jpga);"
		>
			<div class="p-2 justify-center mx-[100px] mt-20">
				<h1
					class="text-[38px] text-white font-sans font-bold text-center"
				>
					Lorem ipsum dolor sit amet consectetur <br /> adipisicing elit
					Lorem ipsum dolor
				</h1>
				<p class="text-white font-sans font-medium text-center mt-8">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br
					/> Sint ex reprehenderit soluta quisquam nostrum earum, laboriosam
					c Lorem ipsum dolor <br /> sit amet consectetur adipisicing elit.
				</p>
				<button
					class="rounded-full py-1 px-5 mt-8 ml-[270px] bg-[#94C77E]"
					>Mas información</button
				>
			</div>
		</div>

		<div class="text-center py-16 bg-[#EFE8C1]">
			<h2 class="text-2xl font-bold text-black mb-8">
			  Visual communication and collaboration is an important tool for learning
			</h2>
			<div class="flex justify-center gap-12">
			  
			  <div class="text-center max-w-xs">
				<img src="https://static-cse.canva.com/blob/1141750/Engagement2x.png" alt="Icono 1" class="mx-auto mb-4" />
				<h3 class="text-xl font-semibold text-black mb-2">
				  Increase engagement with original content
				</h3>
				<p class="text-gray-600">
				  Choose from a library of resources, from lesson plans to reports and posters. Spark engagement with gifs, videos, animations, and music.
				</p>
			  </div>
			  
			  
			  <div class="text-center max-w-xs">
				<img src="https://static-cse.canva.com/blob/1141751/Impact2x.png" alt="Icono 2" class="mx-auto mb-4" />
				<h3 class="text-xl font-semibold text-black mb-2">
				  Deliver impactful feedback in one place
				</h3>
				<p class="text-gray-600">
				  Reach and motivate students wherever they are with real-time feedback. Share work as assignments directly through  or via your LMS.
				</p>
			  </div>
			  
			  
			  <div class="text-center max-w-xs">
				<img src="https://static-cse.canva.com/blob/1141740/Skills2x.png" alt="Icono 3" class="mx-auto mb-4" />
				<h3 class="text-xl font-semibold text-black mb-2">
				  Help students build critical skills
				</h3>
				<p class="text-gray-600">
				  Students can use  to demonstrate learning through different formats — group projects, videos, posters, and more.
				</p>
			  </div>
			</div>
		  </div>


		  <div class="bg-[#EFE8C1] text-[#4F774D] py-16 px-8 ">
			<h2 class="text-3xl font-bold mb-8 text-center text-[#4F774D]">Más motivos para unirte</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 max-w-7xl mx-auto">
			  
			  
			  <div class="bg-[#94C77E] rounded-xl p-6 text-white shadow-lg flex flex-col justify-between group cursor-pointer transition-all duration-300 hover:scale-105">
				<h3 class="text-lg font-semibold mb-4">Visual communication and</h3>
				<p class="text-[#EFE8C1] mb-6">Visual communication and collaboration Visual communication and collaboration</p>
				<div class="flex justify-end">
				  
				  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-10 w-10">
					<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5A3.375 3.375 0 0 0 6.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0 0 15 2.25h-1.5a2.251 2.251 0 0 0-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 0 0-9-9Z" />
				  </svg>
				  
				</div>
			  </div>
			  
			  
			  <div class="bg-[#A16436] rounded-xl p-6 text-white shadow-lg flex flex-col justify-between group cursor-pointer transition-all duration-300 hover:scale-105">
				<h3 class="text-lg font-semibold mb-4">Visual communication and collaboration</h3>
				<p class="text-[#EFE8C1] mb-6">Visual communication and collaboration Visual communication </p>
				<div class="flex justify-end">
				  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-10 w-10">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
				  </svg>
				  
				</div>
			  </div>
			  
			  
			  <div class="bg-[#8AB6D6] rounded-xl p-6 text-white shadow-lg flex flex-col justify-between group cursor-pointer transition-all duration-300 hover:scale-105">
				<h3 class="text-lg font-semibold mb-4">Visual communication and</h3>
				<p class="text-[#EFE8C1] mb-6">Visual communication and collaboration Visual communication and collab</p>
				<div class="flex justify-end">
				  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-10 w-10">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
				  </svg>
				  
				</div>
			  </div>
			  
			 
			  <div class="bg-[#F4A261] rounded-xl p-6 text-white shadow-lg flex flex-col justify-between group cursor-pointer transition-all duration-300 hover:scale-105">
				<h3 class="text-lg font-semibold mb-4">Visual communication and c</h3>
				<p class="text-[#EFE8C1] mb-6">Visual communication and collaboration Visual communication and collaboration Visual communication and collaboration</p>
				<div class="flex justify-end">
				  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-10 w-10">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
				  </svg>
				  
				</div>
			  </div>
		  
			</div>
		  </div>

		  <Footer></Footer>
		  

		<slot />
	</body>
</html>
